.container-entrada-saldo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonsRow {
    display: flex;
    gap: 15px;
}

.buttonRegisterValue {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#buttonRegistrar {
    background-color: #2563eb;
    color: #fff;
    border: 2px solid #1d4ed8;
}

#buttonRetirar {
    background-color: #ef4444;
    color: #fff;
    border: 2px solid #dc2626;
}