* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.headPage img {
    width: 80px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    text-align: start;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 6px #a0a0a0;
}

.allButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #2563eb;
    background-color: #c8c8c8;
    transition: all 0.3s ease;
}

.allButton:hover {
    opacity: 0.9;
}

.footerRegister {
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: underline;
}

.erro {
    display: block;
    color: red;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: 500;
}

#buttonLogin {
    background-color: #2563eb;
    color: #fff;
}

#buttonLogin:hover {
    background-color: #1d4ed8;
}
